In [12]:
# importing necessary

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Q1

In [14]:
driver=webdriver.Chrome('chromedriver.exe')

# Getting the webpage of url 

url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [15]:
Rank = []
Name = []
Artist = []
UploadDate = []
Views = []


# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [16]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [17]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.40
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.98
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.47
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.81
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.64
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.63
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.90
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.70
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.65
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.55
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.40
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.07
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.76
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.66
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.65
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.59
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.52
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.50
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.38
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.35
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.30
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.27
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.26
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.25
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.21
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.17

In [18]:
driver.close()

# Q2

In [19]:
driver=webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [21]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [22]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [23]:
Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time

In [24]:
Fixtures

,Title,Name,Place,Date,Time
0,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,1:30 PM
1,ASIA CUP WOMENS 2022,4th T20I,"Sylhet International Cricket Stadium,",7 OCT 2022,1:00 PM
2,ASIA CUP WOMENS 2022,5th T20I,"Sylhet International Cricket Stadium,",8 OCT 2022,1:00 PM
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM
4,ASIA CUP WOMENS 2022,6th T20I,"Sylhet International Cricket Stadium,",10 OCT 2022,1:00 PM
5,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM

In [25]:
driver.close()

# Q3

In [26]:
driver=webdriver.Chrome('chromedriver.exe')

# get webpage
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [27]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [28]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [29]:
name=[]
desc=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]/strong"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]"):
    desc.append(i.text)

In [30]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name
Selenium_Exception['Description']=desc
Selenium_Exception

,Exception name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...

# Q4

In [33]:
driver=webdriver.Chrome(r"chromedriver.exe")

#Opening the website on automated website
driver.get("https://www.statisticstimes.com/")

In [34]:
#Selecting Economy Section
a=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")

In [35]:
x=a.get_attribute("href")
driver.get(x)

In [36]:
#Selecting GDP of Indian States
y=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")

In [37]:
driver.get(y.get_attribute("href"))

In [38]:
#Scraping State

state=[]

a=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in a:
    state.append(i.text)
s1=state[0:33]

In [39]:
#Scraping GSDP(19-20)
b1=[]

b=driver.find_elements(By.XPATH,"//td[@class='data']")
for i in b:
    b1.append(i.text)
gs1920=[]
gs1920=b1[::5]

In [40]:
#Scraping Share-18-19
share=b1[1::5]

In [41]:
#Scraping GDP Billion
gb=b1[2::5]

In [42]:
#Scraping GSDP-18-19
c=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
gs1819=[]
for i in c:
    gs1819.append(i.text)

In [43]:
#Scraping Rank
d=driver.find_elements(By.XPATH,"//td[@class='data1']")
rank=[]
for i in d:
    rank.append(i.text)

In [44]:
#Creating Dataframe
data=pd.DataFrame({"Rank":rank[0:33],"State":s1,"GSDP-19-20":gs1920[0:33],"GSDP-18-19":gs1819[0:33],"Share-18-19":share[0:33],"GDP-Billion":gb[0:33]})
data

,Rank,State,GSDP-19-20,GSDP-18-19,Share-18-19,GDP-Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [45]:
driver.close()

# Q5

In [46]:
driver=webdriver.Chrome('chromedriver.exe')
url=('https://github.com/')
driver.get(url)

In [50]:
a=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
driver.get(a.get_attribute("href"))

In [51]:
#Scraping Repository Title
a=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
title=[]
for i in a:
    title.append(i.text)

In [52]:
#Scraping Repository Description
b=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
des=[]
for i in b:
    des.append(i.text)

In [53]:
#Scraping Contributors Count
c=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
c1=[]
for i in c:
    c1.append(i.text)

In [54]:
count=c1[::2]

In [55]:
data=pd.DataFrame({"Title":title,"Description":des,"Contributors Count":count})
data

,Title,Description,Contributors Count
0,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"354,825"
1,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,"21,489"
2,firstcontributions / first-contributions,🚀✨ Help beginners to contribute to open source...,"28,150"
3,TheAlgorithms / Python,All Algorithms implemented in Python,"146,146"
4,CodeEditApp / CodeEdit,CodeEdit App for macOS – Elevate your code edi...,"15,163"
5,TryGhost / Ghost,Turn your audience into a business. Publishing...,"41,346"
6,SigNoz / signoz,SigNoz is an open-source APM. It helps develop...,"9,385"
7,soxoj / maigret,🕵️‍♂️ Collect a dossier on a person by usernam...,"3,770"
8,FernandaCader / recursos-datos,Recopilación de recursos de ciencias de datos ...,102
9,ToolJet / ToolJet,Extensible low-code framework for building bus...,"13,773"
10,leeoniya / uFuzzy,"A tiny, efficient fuzzy search that doesn't suck","1,221"
11,iced-rs / iced,"A cross-platform GUI library for Rust, inspire...","15,654"
12,github / docs,The open-source repo for docs.github.com,"11,523"
13,bufbuild / protoc-gen-validate,protoc plugin to generate polyglot message val...,"2,638"
14,stephrobert / awesome-french-devops,Une liste de liens permettant de se former aux...,312
15,palera1n / palera1n,"iOS 15.0-15.3.1 tethered checkm8 ""jailbreak"" (...",271
16,novuhq / novu,⭐ A fully functional real-time notification ce...,"10,332"
17,odoo / odoo,Odoo. Open Source Apps To Grow Your Business.,"26,451"
18,lkwq007 / stablediffusion-infinity,Outpainting with Stable Diffusion on an infini...,"1,656"
19,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,"61,307"
20,stefanprodan / podinfo,Go microservice template for Kubernetes,"3,109"
21,huggingface / transformers,🤗 Transformers: State-of-the-art Machine Learn...,"71,471"
22,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...","213,805"
23,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,"104,950"
24,remoteintech / remote-jobs,A list of semi to fully remote-friendly compan...,"20,163"

In [56]:
driver.close()

# Q6

In [64]:
driver=webdriver.Chrome(r"chromedriver.exe")

#Opening the website on automated website
driver.get("https://www.billboard.com/")

In [65]:
#Selecting Charts section 
a=driver.find_element(By.XPATH,"/html/body/div[3]/div[7]/div/div/div/ul/li[1]/h3/a")
driver.get(a.get_attribute("href"))
#Extracting Billboard hot 100
b=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
driver.get(b.get_attribute("href"))

In [67]:
#Scraping Song Name
name=[]
c=driver.find_element(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3")
c=c.text.split("\n")

In [68]:
#Scraping Song and Artist
d1=[]
d=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max']")
for i in d:
    d1.append(i.text)

In [69]:
e=[]
for i in d1:
    e.append(i.split("\n"))

In [70]:
s1=[]
a1=[]
for i in range(0,len(e)):
    s1.append(e[i][0])
    a1.append(e[i][1])

In [71]:
s1.insert(0,c[0])    #Complete list of Song Names
a1.insert(0,c[1])    #Complete list of Artist Names

IndexError: list index out of range

In [72]:
#Scraping Last Week Rank, Peak Rank, Weeks on board
f1=[]
f=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in f:
    f1.append(i.text)

In [73]:
last_week_rank=[]
peak_rank=[]
weeks_board=[]
last_week_rank=f1[::6]
peak_rank=f1[1::6]
weeks_board=f1[2::6]

In [74]:
g=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")

In [75]:
last_week_rank.insert(0,g[0].text)
peak_rank.insert(0,g[1].text)
weeks_board.insert(0,g[2].text)

In [76]:
data=pd.DataFrame({"Song":s1,"Artist":a1,"Last Week Rank":last_week_rank,"Peak Rank":peak_rank,"Weeks Board":weeks_board})
data

ValueError: All arrays must be of the same length

In [77]:
driver.close()

# Q7

In [78]:
from selenium.webdriver.common.keys import Keys

In [79]:
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening the website on automated website
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [80]:
#Entering Data Science option 
a=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
a.click()
a.send_keys("Data Science")

In [81]:
b=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
b.click()

In [82]:
#Scraping Name and Company
c=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
name=[]
company=[]
c1=[]
for i in c:
    c1.append(i.text)
    
name=c1[::2]
company=c1[1::2]

In [83]:
#Scraping Designation
d=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
des=[]
for i in d:
    des.append(i.text)

In [84]:
#Scraping Skills
f=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
skill=[]
for i in f:
    skill.append(i.text)

In [85]:
g1=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
url=[]
for i in g1:
    url.append(i.get_attribute("href"))

In [86]:
url1=url[::2]
url1

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=166496004979787600&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=166496004979787600&xp=2',
 'https://www.naukri.com/recruiters/marsiantech?xid=166496004979787600&xp=3',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=166496004979787600&xp=4',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=166496004979787600&xp=5',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=166496004979787600&xp=6',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=166496004979787600&xp=7',
 'https://www.naukri.com/recruiters/techvantage?xid=166496004979787600&xp=8',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=166496004979787600&xp=9',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=166496004979787600&xp=10',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=166496004979787600&xp=11',
 'https://www.naukri.com/recruiters/priyankaakiri-5010064?xid=166496004979787600&xp=12',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=166496004979787600&xp=13',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=166496004979787600&xp=14',
 'https://www.naukri.com/recruiters/quantmagnum?xid=166496004979787600&xp=15',
 'https://www.naukri.com/recruiters/vaishnavikudalkar-5205628?xid=166496004979787600&xp=16',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=166496004979787600&xp=17',
 'https://www.naukri.com/recruiters/sakshichhikara?xid=166496004979787600&xp=18',
 'https://www.naukri.com/recruiters/ruchidhote?xid=166496004979787600&xp=19',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=166496004979787600&xp=20',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=166496004979787600&xp=21',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=166496004979787600&xp=22',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=166496004979787600&xp=23',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=166496004979787600&xp=24',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=166496004979787600&xp=25',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=166496004979787600&xp=26',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=166496004979787600&xp=27',
 'https://www.naukri.com/recruiters/manas-3159036?xid=166496004979787600&xp=28',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=166496004979787600&xp=29',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=166496004979787600&xp=30',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=166496004979787600&xp=31',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=166496004979787600&xp=32',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=166496004979787600&xp=33',
 'https://www.naukri.com/recruiters/nikithapalaparthi-5172698?xid=166496004979787600&xp=34',
 'https://www.naukri.com/recruiters/sreedhar-3824102?xid=166496004979787600&xp=35',
 'https://www.naukri.com/recruiters/priyakhare-4894796?xid=166496004979787600&xp=36',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=166496004979787600&xp=37',
 'https://www.naukri.com/recruiters/deepali002g?xid=166496004979787600&xp=38',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=166496004979787600&xp=39',
 'https://www.naukri.com/recruiters/brad-4068508?xid=166496004979787600&xp=40',
 'https://www.naukri.com/recruiters/rutujapawar?xid=166496004979787600&xp=41',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=166496004979787600&xp=42',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=166496004979787600&xp=43',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=166496004979787600&xp=44',
 'https://www.naukri.com/recruiters/impel?xid=166496004979787600&xp=45',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=166496004979787600&xp=46',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=166496004979787600&xp=47',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=166496004979787600&xp=48',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=166496004979787600&xp=49',
 'https://www.naukri.com/recruiters/amirchowdhury-2925314?xid=166496004979787600&xp=50']

In [87]:
#Scraping Location
l1=[]
loc=[]
for i in url1:
    driver.get(i)
    g=driver.find_elements(By.XPATH,"//a[@class='fl ellipsis widLrg']")
    for i in g:
        l1.append(i.text)

In [88]:
loc=l1[1::2]

In [89]:
#Creating Dataframe
data=pd.DataFrame({"Name":name,"Company":company,"Designation":des,"Skills":skill,"Location":loc})
data

,Name,Company,Designation,Skills,Location
0,Aakash Harit,Data Science Network,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,LibraryXProject,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,IFMR,Programme Manager,Data Science,Chennai
7,Balu Ramesh,Techvantage Systems Pvt Ltd,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Weupskill- Live Wire India,Director,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,CBL Data Science Private Limited,Human Resource,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Mahesh Babu Channa,SocialPrachar.com,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
11,Priyanka Akiri,Infinitive Software Solutions,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Innominds Software,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,MoneyTap,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,Company HR,"Office Administration, Hr Administration, tele...",Mumbai
15,Vaishnavi Kudalkar,Codeachive learning,HR Executive,"Data Science, Python, Data Analytics",Mumbai
16,Kapil Devang,BISP Solutions,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,BIZ INFOTECNO PRIVATE LIMITED,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Bristlecone India Ltd,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,Easi Tax,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Novelworx Digital Solutions,Manager Talent Acquisition,Data Science,Cochin
21,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,Affine Analytics,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Exela Technologies,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,trainin,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,Nanoprecise Sci Corp,CEO,"Signal Processing, Machine Learning, Neural Ne...",Others
30,Rajat Kumar,R.S Consultancy &amp; Services,Founder CEO,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Confidential,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,"Dollarbird Information Services Pvt, Ltd",Project Manager,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Nikitha Palaparthi,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,SREEDHAR,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
35,Priya Khare,Independent Consultant,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,ASCO consulting,Consultant,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,NY INST,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,O.C. Tanner,"Manager, Technical Recruiting","Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Demand Matrix,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,Erp Implementer,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Suntech Global,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Strategic Consulting Lab,Chief Technical Officer,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,MRP Advisers,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Saras Solutions India Pvt Ltd,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,WildJasmine,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,LNT Private Limited,Architect,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Granular.ai,Managing Partner,"Machine Learning, Data Science, Product Manage...",

In [90]:
driver.close()

# Q8

In [91]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [92]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [93]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [94]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [95]:
driver.close()

# Q9

In [96]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [97]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [98]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [99]:
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes

In [100]:
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,061,471"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,155,012"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"972,367"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,912"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,340"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,692"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,744"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,525"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,154"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,154"

In [101]:
driver.close()

# Q10

In [102]:
driver = webdriver.Chrome("chromedriver.exe")
# get webpage
driver.get(" https://archive.ics.uci.edu/")

In [103]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [104]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [105]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [106]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [107]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
        
          # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
        
      
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [108]:
ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:622]
ML['Data Type'] = Data_type[:622]
ML['Task'] = Task[:622]
ML['Attribute type'] = Attribute_type[:622]
ML['No of instance'] = No_of_instances[:622]
ML['No of attributes'] = No_of_attributes[:622]
ML['Year'] = Year[:622]

In [109]:
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [110]:
driver.close()